In [1]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [9]:
cred=pd.read_csv(r'credit.csv')
cred

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,1,20000.0,2,2,1,24,2,2,-1,-1,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,2,120000.0,2,2,2,26,-1,2,0,0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
2,3,90000.0,2,2,2,34,0,0,0,0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,4,50000.0,2,2,1,37,0,0,0,0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
4,5,50000.0,1,2,1,57,-1,0,-1,0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,29996,220000.0,1,3,1,39,0,0,0,0,...,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0,0
29996,29997,150000.0,1,3,2,43,-1,-1,-1,-1,...,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0,0
29997,29998,30000.0,1,2,2,37,4,3,2,-1,...,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0,1
29998,29999,80000.0,1,3,1,41,1,-1,0,0,...,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0,1
29999,30000,50000.0,1,2,1,46,0,0,0,0,...,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,1

In [10]:
#cred=cred.drop(columns=['ID'])
#print(cred.columns.tolist())
#cred.info()
#cred = cred.drop(columns=['ID'])
#cred

In [17]:
#next steps i will define the feature of X and Y since my data is ready to go

X=cred.drop('default.payment.next.month', axis=1)
y=cred['default.payment.next.month']

In [19]:
#next i split the training data into training and testing set i want it to be a 80\20 ratio
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2, random_state=42)
#this is where i checked if i need to use class_weight while training the model if th minority of 0s and 1s is less than 30 i have to include class weight while training the model 
print(y.value_counts(normalize=True))

default.payment.next.month
0    0.7788
1    0.2212
Name: proportion, dtype: float64

In [ ]:
#next this is where i will train the model
model = LogisticRegression(class_weight='balanced', max_iter=1000)
model.fit(X_train, y_train)

#note i used class_weight because when i check my accuracy with out it things where prety shii

In [ ]:
# Make predictions on test data
predictions = model.predict(X_test)  # For class predictions (0 or 1)
predictions_proba = model.predict_proba(X_test)  # For probability scores

#i checked for the accuracy here 
from sklearn.metrics import classification_report
print(classification_report(y_test, predictions))

In [25]:
# Evaluate model performance
from sklearn.metrics import accuracy_score, confusion_matrix

print("Accuracy:", accuracy_score(y_test, predictions))
print("Confusion Matrix:\n", confusion_matrix(y_test, predictions))

Accuracy: 0.5586666666666666
Confusion Matrix:
 [[2398 2289]
 [ 359  954]]

In [27]:
import joblib
joblib.dump(model, 'default_model.pkl')

['default_model.pkl']

In [ ]:
def predict_default():
    print("Enter client details to predict payment default:")
    
    # Input features (modify based on your dataset)
    LIMIT_BAL = float(input("Credit Limit (LIMIT_BAL): "))
    SEX = int(input("Gender (1=Male, 2=Female): "))
    EDUCATION = int(input("Education (1=Graduate, 2=University, 3=High School, 4=Others): "))
    MARRIAGE = int(input("Marital Status (1=Married, 2=Single, 3=Others): "))
    AGE = int(input("Age: "))
    PAY_0 = int(input("Last Payment Status (-1=On Time, 1=1 Month Late, ...): "))
    BILL_AMT1 = float(input("Last Bill Amount (BILL_AMT1): "))
    PAY_AMT1 = float(input("Last Payment Amount (PAY_AMT1): "))
    # Payment status for the last 6 months
    PAY_0 = int(input("Repayment Status in September (-1=On Time, 1=1 Month Late, ...): "))
    PAY_2 = int(input("Repayment Status in August (-1=On Time, 1=1 Month Late, ...): "))
    PAY_3 = int(input("Repayment Status in July (-1=On Time, 1=1 Month Late, ...): "))
    PAY_4 = int(input("Repayment Status in June (-1=On Time, 1=1 Month Late, ...): "))
    PAY_5 = int(input("Repayment Status in May (-1=On Time, 1=1 Month Late, ...): "))
    PAY_6 = int(input("Repayment Status in April (-1=On Time, 1=1 Month Late, ...): "))

    # Bill amounts for the last 6 months
    BILL_AMT1 = float(input("Bill Amount in September (BILL_AMT1): "))
    BILL_AMT2 = float(input("Bill Amount in August (BILL_AMT2): "))
    BILL_AMT3 = float(input("Bill Amount in July (BILL_AMT3): "))
    BILL_AMT4 = float(input("Bill Amount in June (BILL_AMT4): "))
    BILL_AMT5 = float(input("Bill Amount in May (BILL_AMT5): "))
    BILL_AMT6 = float(input("Bill Amount in April (BILL_AMT6): "))

    # Payment amounts for the last 6 months
    PAY_AMT1 = float(input("Payment Amount in September (PAY_AMT1): "))
    PAY_AMT2 = float(input("Payment Amount in August (PAY_AMT2): "))
    PAY_AMT3 = float(input("Payment Amount in July (PAY_AMT3): "))
    PAY_AMT4 = float(input("Payment Amount in June (PAY_AMT4): "))
    PAY_AMT5 = float(input("Payment Amount in May (PAY_AMT5): "))
    PAY_AMT6 = float(input("Payment Amount in April (PAY_AMT6): "))

    # Create a feature array
    user_data = [[LIMIT_BAL, SEX, EDUCATION, MARRIAGE, AGE, PAY_0, BILL_AMT1, PAY_AMT1]]  # Add all features
    
    # Predict
    prediction = model.predict(user_data)[0]
    proba = model.predict_proba(user_data)[0][1]  # Probability of default
    
    print("\nPrediction Result:")
    print(f"Will Default Next Month: {'Yes' if prediction == 1 else 'No'}")
    print(f"Risk Probability: {proba:.2%}")

In [ ]:
# Load the model and call the function
model = joblib.load('C:/Users/Grind master/Desktop/ML/default_model.pkl')
predict_default()

In [ ]:
cred.info()